html, body {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	height: 100%;
	margin: 0;
	overflow: hidden;
	background-color: #483D8B;
	color: snow;
}

.navbar {
	background: #34495e;
	border-color: transparent;
}

.navbar-nav>li>a {
	color: snow !important;
}

.navbar-header a {
	color: snow !important;
}

#home {
	background: url("images/home.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: snow;
	padding-top: 200px;
	text-align: right;
	min-height: 100%;
}
#home h1 {
	font-size: 30px;
	font-weight: bold;
}