body {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}

#home {
	background: url("images/home.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: snow;
	text-align: right;
	padding-top: 50px;
	padding-bottom: 300px;
}