body {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}

#home {
	background: url("images/home.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: snow;
	text-align: center;
	padding-top: 140px;
	padding-bottom: 300px;
}