body, html {
	height:  100%;
}

#welcome {
	height: 100%;
	background-color: #36648B;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

.title {
	font-size: 400%;
	font-weight: 0.5;
	letter-spacing: 0.3;
}

.subtitle {
	font-size: 300%;
	font-weight: 0.3;
	letter-spacing: 0.2;
}

.welcome-page-p {
	font-size: 300%;
	font-weight: 0.5;
	letter-spacing: 0.3;
	margin-bottom: 10%;
}

#summary {
	height: 100%;
	background-image: url("llamaherd.jpg");
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#facts {
	height: 100%;
	background-color: black;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.facts1 {
	height: 100%;
	background-image: url("machullama.jpg");
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.facts2 {
	height: 100%;
	background-color: green;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.facts3 {
	height: 100%;
	background-color: black;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#adopt {
	height: 50%;
	background-color: #483D8B;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#about {
	height: 100%;
	background-image: url("sdskyline.jpg");
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}