.container-fluid {
	max-width: 1400px;
}

.navbar {
	margin-bottom: 0px;
}

.navbar-default {
	background-color: #483D8B;
	border-color: transparent;
	border-radius: 0px;
}

.jumbotron {
	color: snow;
	margin-bottom: 0px;
	padding-top: 95px;
	padding-bottom: 95px;
}

#home {
	background: url("llamawelcome.jpg");
	height: 100%;
	background-repeat: no-repeat;
	background-size: contain;
	background-attachment: fixed;
	font-family: 'Roboto', sans-serif;
}