body {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}

.container-fluid {
	max-width: 1400px;
}

.navbar {
	margin-bottom: 0px;
	background-color: #483D8B;
	border-color: transparent;
	border-radius: 0px;
}

#home {
	background: url("llamawelcome.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: snow;
	text-align: center;
	padding-top: 140px;
	padding-bottom: 300px;
}

#summary {
	padding-top: 25px;
}

.summaryThumbnail {
	height: 65%;
	width: 80%;
}